    $accent-color: #2196f3;
    $white-color: #ffffff;
    $black-color: #212121;

    $gray-color: #f5f4fa;
    $text-color: #757575;
    $color-svg: #AFB1B8;
    $color-svg-footer: hsla(0, 0%, 100%, 0.6);

    $background-black: #2f303a;
    $container-padding: calc((100% - 1200px) / 2);
    $padding-seccion: 94px 0;
    $topografia1: "releway", sans-serif;
    $topografia2: "Roboto", sans-serif;
